
ion-toolbar {
  --background: transparent;
}

ion-content {
  --background: radial-gradient(circle at 2px 2px, rgba(0, 0, 0, 0.03) 1px, transparent 0);
  --background-size: 24px 24px;

  &.dark {
    --background: radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.03) 1px, transparent 0);
  }
}

.selected {
  border-color: #2563EB;
  background-color: rgba(37, 99, 235, 0.02);
}
